<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.exam.model.dao.DoctorDao">

	<insert id="insertDoctor" parameterType="Doctor">
		INSERT INTO doctor
		
	</insert>
	
	<select id="selectAllDoctors">
		SELECT *
		FROM doctors
	</select>
	
	<select id="selectDoctorById" parameterType="int">
		SELECT *
		FROM doctors
		WHERE id=#{id};
	</select>
	
	<update id="updateDoctor" parameterType="Doctor">
		UPDATE (doctorId, name, age, specialtyCode, experienceYears)
		SET (doctorID=#{doctorID}, name=#{name}, age=#{age},specialtyCode=#{specialtyCode}, experienceYears=#{experienceYears});
	</update>
	
	<delete id="deleteDoctor" parameterType="int">
		DELETE 
		FROM doctors
		WHERE id=#{id};
	</delete>
	
	


</mapper>